.card {
margin: 2rem 1rem;
padding: 0.5rem;

background-color: var(--secundary);
color: var(--primary);

font-size: 1rem;
}

.card__headline {

}

.card__image {
    width: 1rem;
    height: auto;
    margin-left: auto;
    display: block;
  }

.card__question {
    
}
.card__answers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.25rem;
    justify-content: space-around;
}
.card__answers > li {
    border: solid 0.15rem var(--primary);
}

.card__button {
    background-color: var(--primary);
    color: var(--secundary);
}