footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.footer__link {
text-decoration: none;
text-align: center;
color: var(--secundary);
margin: 2rem 1rem;
font-size: 1rem;
}